.media-hero {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 67px); /* always at least full viewport */
  height: auto; /* grows with content */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101010;
  padding: 1rem;
}

.media-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; 
}

.media-hero-overlay {
 position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;   
  z-index: 1;            
  color: white;
  text-align: center;
  padding: 0 2rem;        
  background: #231f1cd5; 
}
h1.hero-overlay {
  color: #ffffff;
}

.media-hero-wireblock {
    bottom: -2rem;
    right: -2rem;
    pointer-events: none;
    max-width: 350px;
}

/* MediaHero.css */
.media-hero--min-height {
  min-height: 200px; 
}